volumes:
  database:
    driver: local

services:
  postgres:
    platform: linux/amd64
    image: postgres:17
    container_name: ${CONTAINER_NAME}
    restart: unless-stopped
    ports:
      - ${POSTGRES_HOST_PORT}:${POSTGRES_CONTAINER_PORT}
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - database:/var/lib/postgresql/data
