@import 'tailwindcss';
@import '@fuku/ui/styles.css';

@theme inline {
  --font-sans: var(--font-geist);
}

@theme {
  --spacing-4.5: 1.125rem;
}

@layer base {
  /* Chrome, Edge, Safari */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

@layer utilities {
  @keyframes rule-flash {
    0% {
      background-color: var(--input);
    }

    100% {
      background-color: transparent;
    }
  }

  .animate-rule-flash {
    animation: rule-flash 1.2s ease-out;
  }
}

@layer components {
  main.dashboard {
    h2 {
      @apply text-xl font-semibold;
    }
  }

  .breakpoint-container {
    @apply mx-auto w-full flex-1 px-10 sm:px-14;
  }

  .table-container {
    @apply overflow-hidden rounded-none border;
  }

  table[data-slot='table'] {
    @apply w-full table-auto border-collapse;
  }

  thead[data-slot='table-head'] {
    @apply first:w-0 first:whitespace-nowrap;
  }

  td[data-slot='table-cell'] {
    @apply relative first:w-0;
  }

  .table-footer {
    @apply flex items-center space-x-2;
  }
}
